html {
    display: flex;
    height: 100vh;
}

body {
    display: flex;
    flex-grow: 1;
    font-family: sans-serif;
}

#left-pane {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#right-pane {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

canvas {
    border: 1px solid #bbb;
    flex-grow: 1;
    margin: 1em;
}

#view-controls {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#view-controls header {
    font-size: 1.2em;
    font-weight: bold;
}

.view-control-group {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.view-control-group label {
    display: flex;
    white-space: nowrap;
}

#reset-view-matrix {
    margin: 0.5em;
}

#model-controls {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 5px;
}

#model-controls > div {
    display: flex;
}

#model-controls .parameter-triplet {
    display: flex;
    flex-direction: column;
}

#model-controls label,
#model-controls button {
    margin: 5px;
}

#model-controls label {
    display: flex;
    flex-grow: 5;
    justify-content: space-between;
}

#model-controls label > span {
    margin-right: 0.5em; 
}

#model-controls label > input[type="number"] {
    max-width: 10.5em;
}

#model-controls > div:first-child {
    display: flex;
}

#w-expr {
    flex-grow: 1;
}

#submit {
    flex-grow: 1;
}

#coordinate-expressions {
    margin-right: 1em;
}

#coordinate-expressions input {
    min-width: 15em;
}